.social-media:hover{
    opacity: 0.6;
}

.my-tooltip .my-tooltip-text{
    visibility: hidden;
    width: 129px;
    background-color: #172235;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 110%;
    left: 50%;
    margin-left: -60px;
}

.logo{
    background: transparent;
    cursor: pointer;
    height: 70px;
    padding-bottom: -5px;
    padding-top: -5px;
    padding-right: 10px;
}

.tools:hover{
    opacity: 0.6;
}

.my-tooltip:hover .my-tooltip-text{
    visibility: visible;
}

.subheading{
    text-transform:uppercase;
    font-weight:500;
    font-family:'Saira Extra Condensed',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
    font-size:1.5rem}

body, h1,h2,h3,h4,h5,h6{font-family:'Saira Extra Condensed',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';font-weight:700;color:#343a40}
h1{font-size:6rem;line-height:5.5rem}h2{font-size:3.5rem}h3{font-size:2rem}